sagemaker==2.235.2
sagemaker-core==1.0.76
sagemaker-experiments==0.1.45
sagemaker_training==4.9.0
pytz 
mlflow 
jinja2
wordcloud 
awswrangler  
pyarrow 
sqlalchemy 
psycopg2-binary
papermill
xgboost
seaborn